---
export const prerender = false;
import { makePage } from '@keystatic/astro/ui';
// virtual:keystatic-config is a Vite virtual module set up by the Keystatic integration
// @ts-ignore
import config from 'virtual:keystatic-config';
const Keystatic = makePage(config);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic</title>
  </head>
  <body>
    <Keystatic client:only="react" />
  </body>
</html>
